<identityServer.repositories tokenServiceConfiguration="IdentityServer.Repositories.Sql.ConfigurationRepository, IdentityServer.Core.Repositories"
                                          userManagement="IdentityServer.Repositories.ProviderUserManagementRepository, IdentityServer.Core.Repositories"
                                          userValidation="IdentityServer.Repositories.ProviderUserRepository, IdentityServer.Core.Repositories"
                                          claimsRepository="IdentityServer.Repositories.ProviderClaimsRepository, IdentityServer.Core.Repositories"
                                          relyingParties="IdentityServer.Repositories.Sql.RelyingPartyRepository, IdentityServer.Core.Repositories"
                                          claimsTransformationRules="IdentityServer.Repositories.PassThruTransformationRuleRepository, IdentityServer.Core.Repositories"
                                          clientCertificates="IdentityServer.Repositories.Sql.ClientCertificatesRepository, IdentityServer.Core.Repositories"
                                          clientsRepository="IdentityServer.Repositories.Sql.ClientsRepository, IdentityServer.Core.Repositories"
                                          openIdConnectClientsRepository="IdentityServer.Repositories.Sql.OpenIdConnectClientsRepository, IdentityServer.Core.Repositories"
                                          codeTokenRepository="IdentityServer.Repositories.Sql.CodeTokenRepository, IdentityServer.Core.Repositories"
                                          identityProvider="IdentityServer.Repositories.Sql.IdentityProviderRepository, IdentityServer.Core.Repositories"
                                          delegation="IdentityServer.Repositories.Sql.DelegationRepository, IdentityServer.Core.Repositories"
                                          caching="IdentityServer.Repositories.MemoryCacheRepository, IdentityServer.Core.Repositories" />